<section class="footer">
  <div class="footer-first-child">
    <h1>KB</h1>
    <h2>World's leading chain of hotels and homes</h2>
    <h2>Join our network and grow your business!</h2>
    <button class="login-btn">List your property</button>
  </div>
  <hr />
  <div class="container-fluid third-child p-5">
    <div class="row mb-4 row-cols-5">
      <div class="col-12 mb-3">Hotels near me</div>
      <div class="col">Hotels near me</div>
      <div class="col">Hotels in Goa</div>
      <div class="col">Hotels in Puri</div>
      <div class="col">Hotels in Mahabaleshwar</div>
      <div class="col">Hotels in Jaipur</div>
      <div class="col">Hotels in Shimla</div>
      <div class="col">Hotels in Manali</div>
      <div class="col">Hotels near me</div>
      <div class="col">Hotels in Goa</div>
      <div class="col">Hotels in Puri</div>
      <div class="col">Hotels in Mahabaleshwar</div>
      <div class="col">Hotels in Jaipur</div>
      <div class="col">Hotels in Shimla</div>
      <div class="col">Hotels in Manali</div>
      <div class="col">Hotels near me</div>
      <div class="col">Hotels in Goa</div>
      <div class="col">Hotels in Puri</div>
      <div class="col">Hotels in Mahabaleshwar</div>
      <div class="col">Hotels in Jaipur</div>
      <div class="col">Hotels in Shimla</div>
      <div class="col">Hotels in Manali</div>
      <div class="col">Hotels near me</div>
      <div class="col">Hotels in Goa</div>
      <div class="col">Hotels in Puri</div>
      <div class="col">Hotels in Mahabaleshwar</div>
      <div class="col">Hotels in Jaipur</div>
      <div class="col">Hotels in Shimla</div>
      <div class="col">Hotels in Manali</div>
    </div>
    <hr />
    <div class="footer-first-child">
      <span>facebook | Instagram | Whatsapp</span>
      <span>2023 © SharedMaxReach Pvt ltd.</span>
    </div>
  </div>
</section>
