mat-toolbar {
  position: sticky;
  top: 0;
  background: white;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 999;

  .logged-btn {
    width: 210px;
    height: 60px;
    padding: 10px;
    background: transparent;
    color: #1c1c1c;
    border: none;
    font-family: medium-font;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    i {
      font-size: 22px;
      opacity: 0.8;
      margin-right: 4px;
    }
  }
}

.container {
  h3 {
    font-family: bold-font !important;
    font-size: 22px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i {
    font-size: 18px;
  }

  table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  td,
  th {
    width: 25%;
    font-family: light-font;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  tr:nth-child(even) {
    background: ghostwhite;
  }
}

.mat-column-id {
  width: 10% !important;
}

.mat-column-bookingId {
  width: 10% !important;
}

.mat-column-Name {
  width: 20% !important;
}

.mat-column-no_of_rooms {
  width: 20% !important;
}

.mat-column-check_in {
  width: 10% !important;
}

.mat-column-check_out {
  width: 10% !important;
}

.mat-column-action {
  width: 20% !important;

  i {
    font-size: 13px;
    color: red;
  }
}

