#heading {
    font-family: bold-font;
    font-size: 28px;
    line-height: 1.71;
    color: #1ab64f;
}

#subHeading {
    font-family: light-font;
    font-size: 16px;
    line-height: 1.56;
    color: #222;
    margin: 0px;
}

#idTitle {
    font-family: bold-font;
    font-size: 24px;
    margin: 12px 0px;
}


#table {
    font-size: 14px;
    table-layout: fixed;
    margin-top: 24px;
    color: #222;
    width: 100%;
    border-collapse: collapse;
}

#priceHeading {
    font-size: 18px;
    font-family: bold-font;
}

td {
    font-family: light-font;
}

#center {
    text-align: center;

}

#right {
    text-align: right;
    font-size: 14px;
    font-family: semibold-font;
}

#total {
    font-family: bold-font;
    font-size: 16px;
    line-height: 2;
}

#cash {
    text-align: right;
    font-family: bold-font;
    font-size: 32px;
    line-height: 1;
}