<div class="wrapper">
    <div class="container">

        <div class="row p-0 gap-4">
            <div class="col p-0 mb-5">
                <div class="placeholder-glow placeholder-glow-box p-4">
                    <div class="placeholder col-12" style="height: 50px"></div>
                    <div class="placeholder col-12" style="height: 600px"></div>
                </div>
            </div>

            <!-- ! RIGHT SIDE CARD -->
            <div class="col col-md-5 col-lg-5 col-xl-5 p-0 mb-5">
                <div class="receipt-card pb-4">
                    <div class="placeholder-glow placeholder-glow-box p-4">
                        <div class="placeholder col-12" style="height: 670px"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>